main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.header {
    display: flex;

}
.column_left{
    display: flex;
    flex-direction: column;

}
.form{
    display: grid;
    align-items: center;
 
}
.button{
    width: 100px;
    height: 50px;
    display: grid;
    flex-direction: row;

}
.column_right{
    display: grid;

}
.image{
    display: flex;
    width:  300px;
    height: 500px;
}