body{
    background-color: #242424;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;

}

/*Column left*/
.column_left{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.title{
    color: #ff7300;
    font-size: 30px;
}
.logo{
    color: #ffffff;
    display: flex;
}
p{
    color: #ffffff;
}
.content{
    display: flex;
    align-items:flex-start;
 
}
.button{
    width: 100px;
    height: 50px;
    display: grid;

}

/*Column right*/
.column_right{
    display: grid;

}
.image{
    display: flex;
    width:  350px;
    height: 550px;
    align-items: center;
}