main{
    grid-template-columns: 1fr 1fr;
}

.header {
    display: grid;
}
img{
    width: 100px;
    height: 100px;
} 

.column_left{
    display: grid;

}
.form{
    display: grid;
 
}
.column_right{
    display: grid;

}